@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Projects
        4.4 Services
        4.5 Contact
        4.6 Footer
    5. Media Queries
////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */

:root {
    --title-text-color: #5722CD;
    --normal-text-color: #0C0C0C;
    --floating-text-color: #F2F0FF;
    --white: #FFF;
    --service-tile-text-color: #7A7A7A;
    --primary-bg-color: #4845E4;
    --button-bg-color: #ED4385;
    --projects-bg-color: #F3F6F9;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Roboto, 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--normal-text-color);
}

img {
    width: 100%;
}

/* ------------------------------- 2. Typography ----------------------------------- */

button, input {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, 'Times New Roman', serif;
}

h1 {
    font-size: 42px;
    padding: 20px 0;
}

h3 {
    font-size: 30px;
    padding: 15px 0;
}

h4 {
    font-size: 28px;
    padding: 12px 0;
}

h5 {
    font-size: 24px;
    padding: 12px 0;
}

p {
    margin: 8px 0;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-content-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --------------- 3.2 Other --------------------------- */

a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--title-text-color)
}

button {
    background-color: var(--button-bg-color);
    color: var(--white);
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow: 0 5px 8px 5px rgba(0, 0, 0, 0.15);
    padding: 25px 45px;
    margin: 30px 0;
}

button:hover {
    cursor: pointer;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.header-section {
    background: var(--primary-bg-color);
    background: linear-gradient(90deg, #4B49E8 0%, #4B49E8 33%, #5722CD  100%);
    color: var(--white);
    padding: 30px 0;
    position: relative;
}

.header-content__navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-content__navigation ul {
    list-style-type: none;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-content__navigation a {
    color: var(--white);
}

.header-content__hero {
    padding: 100px 0;
    margin-bottom: 100px;
    max-width: 900px;
}

.header-content p {
    font-size: 24px;
}

.header-content__squiggle {
    background-image: url(../assets/squiggle_line_stripe.svg);
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
    height: 90px;
    width: 80px;
}

/* --------------- 4.2 Introduction ------------------- */

.introduction-section {
    background-color: var(--white);
}

.introduction-content {
    max-width: 900px;
    padding: 100px 0;
}

.introduction-content h3 {
    color: var(--title-text-color);
    line-height: 1.5;
}

.introduction-content p {
    margin-top: 100px;
}


/* --------------- 4.3 Projects ------------------------- */

.projects-section {
    background-color: var(--projects-bg-color);
    padding: 40px 0 100px 0;
}

.project-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 40px 30px;
}

.project-article:nth-of-type(even) {
    flex-direction: row-reverse;
}

.project-article__container {
    height: 260px;
    flex-basis: 500px;
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    text-align: left;
    padding: 0 50px;
}

.project-article__squiggle {
    background-image: url(../assets/squiggle_line.svg);
    width: 60px;
    height: 6px;
}

.project-article__image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.project-article__image-wrapper img {
    box-shadow: 0 30px 30px 0px rgba(0, 0, 0, 0.2);
}

.project-article__project-link {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* --------------- 4.4 Services ------------------- */

.services-section {
    background-color: var(--white);
    padding: 100px 0;
}

.service-content__tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.service-tile {
    background-color: var(--white);
    border: 1px solid var(--title-text-color);
    border-radius: 3px;
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.1);;
    padding: 40px;
    text-align: left;
    font-weight: 300;
    min-height: 380px;

    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
}

.service-tile h5 {
    color: var(--title-text-color);
}

.service-tile p {
    color: var(--service-tile-text-color);
    font-size: 16px;
}

.service-tile__icon {
    width: 80px;
}

/* --------------- 4.5 Contact ------------------------- */

/* --------------- 4.6 Footer ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */